*{
    margin: 0;
    padding: 0;
}

body{
    background:#fff;
}

.navbar{
    padding: 14px;
    background: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a{
    text-decoration: none;
    color: rgb(54, 54, 54);
    cursor: pointer;
}

.navbar h2{
    font-size: 26px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar span{
    font-size:20px;
    color:lightcoral;
}

.off-screen-menu {
    background-color: rgb(255, 255, 255);
    height: 100vh;
    width: 100%;
    max-width: 200px;
    position: fixed;
    top: 0;
    left: -200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1rem;
    transition: .3s ease;
}

.off-screen-menu.active {
    left: 0;
}

.ham-menu {
    height: 50px;
    width: 40px;
    position: relative;
}

.ham-menu span {
    height: 5px;
    width: 100%;
    background-color: rgb(54, 54, 54);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
}

.ham-menu span:nth-child(1) {
    top: 25%;
}

.ham-menu span:nth-child(3) {
    top: 75%;
}

.ham-menu.active span {
    background-color: rgb(81, 81, 81);
}

.ham-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
    opacity: 0;
}

.ham-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

.navbtn a{
    padding: 6px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    color: rgb(54, 54, 54);
    cursor: pointer;
}

.navbtn a:hover{
    color: #f5f5f5;
    background: #3f3f3f;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.content{
    margin:0 auto;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  

.sticky + .content {
    padding-top: 60px;
}

.content img{
    width: 100%;
    height: auto;
}

footer{
    font-family: "raleway";
    text-align: center;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer h4{
    padding-bottom: 10px;
}

footer a{
    text-decoration: none;
}

.footer-list{
    padding: 12px 12px;
}

.fa-brands{
    font-size: 26px;
    text-decoration: none;
}

.fa-brands:hover{
    color: white;
    background-color: #1f1f1f;
}

.button-footer{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
}

.footer-list a{
    color: #3f3f3f;
    padding: 14px 14px;
}